* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


/* header */

header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

#location-info {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  text-transform: capitalize;
}

.location {
  display: flex;
  gap: 50px;
}

.logo {
  display: flex;
  align-items: center;
  color:#004d7a;
}

.content {
  display: flex;
  align-items: center;
}

.fa-location-dot {
  font-size: 1.5rem;
  padding-right: 10px;
}

.fa-phone {
  font-size: 1.5rem;
  padding-right: 10px;
}

.fa-clock {
  font-size: 1.5rem;
  padding-right: 10px;
}

/* navigation */

.navigation {
  background-image: linear-gradient(to right top, #051937,
                    #004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  font-size: 1rem;
}
.nav {
  display: flex;
}

a {
  text-decoration: none;
  color: aliceblue;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.nav-icon {
  color: white;
  display: flex;
  gap: 20px;
  font-size: 2rem;
}

li {
  list-style: none;
  color: aliceblue;
}

.menu {
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
}

.item {
  display: none;
  position: absolute;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, blue, aqua, aquamarine);
}

.dropdown:hover .item {
  display: block;
}

/* container-box */

.wrapper {
  position: relative;
  height: 135vh;
  width: 100%;
}
.wrapper > img {
  margin-top: 90px;
  width: 100%;
  height: 700px;
}

#content {
  width: 400px;
  height: 400px;
  margin: -30% 0% 0% 20%;
  color: aliceblue;
  text-transform: capitalize;
}

#btn {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

#btn > button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}

#btn > button:nth-child(1) {
  background-color: #e0ddcc;
  color: black;
  width: 150px;
}

/* cards */

.timing {
  display: flex;
  position: absolute;
  left: 10%;
  bottom: -20px;
  gap: 10px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  font-size: larger;
  width: 400px;
  height: 300px;
  background-image: linear-gradient( #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

.cards:nth-child(1) {
  border-radius: 15px 0px 0px 15px;
}
.cards:nth-child(2) {
  
}
.cards:nth-child(3) {
  border-radius: 0px 15px 15px 0px;
}

#heading > .fa-clock {
  font-size: xx-large;
}

.fa-phone-volume {
  font-size: xx-large;
}

.fa-heart-pulse {
  font-size: xx-large;
}

#heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e0ddcc;
}

#card-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  color: #e0ddcc;
}

#description {
  text-align: center;
}

/* about us */

.about-banner {
  display: flex;
  justify-content: center;
  margin: 5% 0%;
}

.about {
  height: 550px;
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

.about > img {
  height: 500px;
  width: 500px;
}

#about-desc > li {
  color: black;
  font-size: larger;
}

#about-content {
  margin: 2% 3%;
  width: 500px;
  height: 500px;
  text-align: justify;
}

#about-heading > h3 {
  color: #28b6f6;
  font-size: x-large;
  text-transform: capitalize;
}

#about-content > button {
  background-color: #0c3483;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  color: #e0ddcc;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}

/* about-us-2 */

.timing-2 {
  display: none;
}

/* doctor-info */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 70vh;
  background-color: rgb(206, 227, 244);
  margin-top: 5%;
}

.doctors-info {
  display: flex;
  justify-content: space-evenly;
}

.doctors-desk {
  width: 270px;
  height: 270px;
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.doctors-desk > img {
  width: 270px;
  height: 270px;
  border-radius: 20px;
}

#doctor-content {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  color: transparent;
  opacity: 0;
}
.color {
  width: 270px;
  height: 0px;
  position: absolute;
  text-transform: capitalize;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.432);
}

.doctors-desk:hover .color {
  opacity: 1;
  height: 270px;
  transition: height 2s;
}

.doctors-desk:hover #doctor-content {
  opacity: 1;
  transition: 2s;
  color: aliceblue;
  border-radius: 15px;
  font: bold larger;
}

.doc-heading > h2 {
  color: #28b6f6;
  text-transform: capitalize;
}

.doc-heading > h1 {
  text-transform: uppercase;
}

.doc-heading {
  margin: 0px 0px 15px 80px;
  font-size: x-large;
}


/* facilities */

.facilities {
  display: flex;
  width: 80%;
  height: 500px;
  margin: 5% 0px 5% 10%; 
  justify-content: center;
  align-items: center;
}

.facilities > img {
  display: flex;
  width: 650px;
  height: 500px;
}

.facility-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 650px;
  height: 500px;
  background-color: #004d7a;
}

.facility-container > h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: capitalize;
}

#about-facilities {
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
}

#types-of-facilities{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fa-stethoscope{
  font-size: 32px;
  color: #e0ddcc;
  border-radius: 10px;
  padding: 5px;
}

.fa-pills{
  font-size: 32px;
  color: #e0ddcc;
  border-radius: 10px;
  padding: 5px;
}

.fa-file-prescription{
  font-size: 32px;
  color: #e0ddcc;
  border-radius: 10px;
  padding: 5px;
}

#types-of-facilities>li>p{
  color: white;
}

#types-of-facilities>li{
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
  font-size: 20px;
  text-transform: capitalize;
}

/* newslletter */

.newsletter-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  text-transform: capitalize;
  margin: 5%px 0px;
}

.newsletter-heading > h2 {
  color: #28b6f6;
}

.newsletter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#newsletter-card > img {
  width: 300px;
  height: 320px;
}

#newsletter-card {
  display: flex;
  align-items: center;
  background-color: rgb(206, 227, 244);
  width: 610px;
  height: 320px;
  margin: 20px 0px;
  border-radius: 10px;
  overflow: hidden;
}

#newsletter-content {
  padding: 30px;
  text-transform: capitalize;
  text-align: justify;
}

#newsletter-content > h2 {
  font-size: larger;
}

#newsletter-content > button {
  background-color: #0c3483;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

/* patient-testimonial */
.testimonial-heading > h2 {
  color: #28b6f6;
  text-transform: capitalize;
  margin-left: 20px;
}

.testimonial-heading > h1 {
  text-transform: capitalize;
  margin-left: 20px;
}

.medical-patient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin: 5% 0px;
  background-color: rgb(206, 227, 244);
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#testimonial-card {
  display: flex;
  position: relative;
  height: 300px;
  width: 400px;
  margin: 0px 20px;
}

#testimonial-card > img {
  position: absolute;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  left: 150px;
  top: 50px;
  z-index: 1;
}

#testimonial-content {
  position: absolute;
  background-color: white;
  text-align: center;
  margin-top: 100px;
  width: 400px;
  height: 200px;
  padding: 50px 10px 0px;
  border-radius: 20px;
}

/* location */

.our-location {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0%;
  text-transform: capitalize;
}

#forms {
  background-color: rgb(229, 253, 253);
  text-align: center;
  width: 500px;
  height: 300px;
  padding: 30px;
  line-height: 60px;
  border-radius: 20px;
}

#forms > input {
  padding: 10px 20px;
  margin: 5px 0px 0px 2%;
  text-transform: capitalize;
  border-radius: 10px;
  border: none;
}

#forms > input:nth-child(9){
  color: white;
  background-color: #0c3483;
}

.location-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
  margin-top: 5%;
}

.location-heading > h2 {
  color: #28b6f6;
  text-transform: capitalize;
}

.location-heading > h1 {
  text-transform: capitalize;
}

/* footer */

.footer-main-container {
  text-align: justify;
  display: flex;
  justify-content: space-evenly;
  background-color: #004d7a;
  background-image: url("./image/footer_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: contain;
  color: white;
  height: 400px;
  width: 100%;
}

footer h2 {
  text-transform: capitalize;
  padding-bottom: 20px;
}

footer p {
  font-size: large;
}

#medisupport {
  width: 400px;
  height: 300px;
  padding: 30px;
}

#medisupport > i {
  font-size: large;
}

#our-gallery {
  width: 400px;
  height: 300px;
  padding: 30px;
}

#gallery > img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

#contact-us {
  width: 400px;
  height: 300px;
  padding: 30px;
  line-height: 40px;
}

#newsletter {
  width: 400px;
  height: 300px;
  padding: 30px;
}

.news-forms > input {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}

/* -------------------------------------media-query-------------------------------- */

@media (max-width: 600px) {


  /* header */
  header {
    z-index: 10;
    width: 600px;

  }

  #location-info {
    overflow-x: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 600px;
    height: 70px;
    align-items: center;
    font-size: larger;
  }

  /* location */

  .location {
    display: none;
  }

  /* navigation */

  .navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 50px;
    font-size: large;
    position: fixed;
    width: 600px;
  }

  .nav {
    display: flex;
    font-size: larger;
    gap: 20px;
    z-index: 1;
  }

  .nav-icon {
    font-size: larger;
    gap: 40px;
  }

  a{
    font-size: large;
  }

  /* main-body */

  .wrapper {
    overflow-x: hidden;
    width: 600px;
  }

  .wrapper > img {
    width: 600px;
    height: 350px;
    margin-top: 120px;
  }

  #content {
    overflow-x: hidden;
    width: 360px;
    font-size: small;
    margin: -250px 0px 0px 30px;

  }

  .timing {
    display: none;
  }

  .timing-2 {
    overflow-x: hidden;
    margin-top: -100%;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  /* cards */

  .cards-2 {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    color: white;
    font-size: larger;
    font-weight: bold;
    background-image: linear-gradient( #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  }

  #card-content-2 {
    display: flex;
    align-items: center;
    height: 250px;
    gap: 40px;
    line-height: 40px;
  }

  #heading-2 {
    display: flex;
    gap: 10px;
  }

  #description-2{
    text-align: center;
  }

  .fa-clock {
    font-size: larger;
    display: flex;
    margin: 10px 0px 0px 0px;
  }

  .fa-phone-volume {
    font-size: larger;
    display: flex;
    margin: 10px 0px 0px 0px;
  }

  .fa-heart-pulse {
    font-size: larger;
    display: flex;
    margin: 10px 0px 0px 0px;
  }

  .cards-2:nth-child(1) {
    background-color: rgb(1, 190, 190);
  }
  .cards-2:nth-child(2) {
    background-color: rgb(91, 225, 181);
  }
  .cards-2:nth-child(3) {
    background-color: rgb(0, 0, 160);
  }

  /* about-us */
  .about-banner {
    overflow-x: hidden;
    display: flex;
    width: 600px;
    margin: 15% 0%;
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 1000px;
    text-align: justify;
  }

  #about-content{
    display: flex;
    flex-direction: column;
    margin: 10% 0px;
  }

  /* doctor-info */

  .container{
    display: flex;
    background-color: white;
    margin: 15% 0px;
    height: 100vh;
  }

  .doc-heading {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 50px;
    text-align: center;
    font-size: large;
  }

  .doc-heading > h2 {
    text-transform: capitalize;
  }

  .doctors-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    width: 600px;
    height: 600px;
  }

  .doctors-desk {
    overflow: hidden;
    width: 250px;
    height: 250px;
  }

  .doctors-desk > img {
    width: 250px;
    height: 250px;
  }

  #doctor-content {
    display: flex;
    align-items: center;
    height: 30vh;
  }

  .color {
    width: 250px;
  }

  /* facilities */

  .facilities {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 950px;
    font-size: large;
    margin: 20% 0%;
  }

  .facility-container {
    overflow-x: hidden;
    width: 600px;
  }

  .facilities > img {
    overflow-x: hidden;
    width: 600px;
    height: 450px;
  }

  /* news-letter */

  .newsletter-heading {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
  }

  .newsletter-container {
    overflow: hidden;
    width: 600px;
    height: 200vh;
    display: flex;
    justify-content: center;
    margin: 10% 0%;
    text-align: justify;
  }

  #newsletter-content > button {
    background-color: #0c3483;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
  }

  /* testimonial */

  .testimonial-heading {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -65%;
  }

  .medical-patient {
    overflow-x: hidden;
    width: 600px;
    height: 140vh;
  }

  .testimonial-container{
    height: 70vh;
  }

  #testimonial-content {
    overflow-x: hidden;
    height: 230px;
  }

  #testimonial-card{
    display: flex;
    margin-top: -20px;
  }

  /*our-location */

  .our-location {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 20px;
  }

  #forms {
    overflow-x: hidden;
    height: 400px;
  }

  #forms > input {
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    width: 350px;
  }

  .location-heading {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    width: 600px;
    font-size: larger;
  }

  /* footer */

  .footer-main-container {
    text-align: justify;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    width: 600px;
  }
}